<h1> Hey <%= @user.name %> </h1>
<h2><%= @user.room.name %> Class </h2>
<br>
<% @children.each do |child| %>
  <big><%= link_to child.name, child_path(child.id) %></big>
  <% info = child.infos.last %>
  <% if info.diaper_m %>
    <p> morning diaper:  <%= info.diaper_m %> </p>
  <% end %>
  <% if info.more_daiper %>
    <p> <%= child.name %> needs more diapers </p>
  <% end %>
  <% if info.more_wipes %>
    <p> <%= child.name %> needs more wipes </p>
  <% end %>
  <% if info.more_clothes %>
    <p> <%= child.name %> needs more clothes </p>
  <% end %>
  <br>
  <%= link_to "Edit info", edit_user_child_info_path(@user.id, child.id, info.id) %>
  <br>
  <br>
  <br>
  <br>
<% end %>

<%= button_to "Send SMS", send_text_message_path(@user.children.last) %>
<%= button_to "Send emails to parents" ,send_emails_path, params: { user_id: @user.id }  %>
