<h1 class="middle-name"> <%= @child.name %> </h1>
<br>
<br>
<br>
<br>

<div class="row">
  <div class="col-md-6">
    <!-- <h3> <%= link_to "Add Photo", edit_child_path(@child.id) %> </h3> -->
    <div class="image-right">
      <%= image_tag @child.avatar.url(:square) %>
    </div>
  </div>
  <div class="col-md-6">
    <h2 style="font-family: 'Josefin Sans', serif;">Parents names: <stuff><%= @child.parents_names %></stuff></h2>
    <h2 style="font-family: 'Josefin Sans', serif;">Address: <stuff><%= @parent.address%></stuff></h2>
    <h2 style="font-family: 'Josefin Sans', serif;">Phone number 1: <stuff><%= @parent.phone_number1 %></stuff></h2>
    <% if !@parent.phone_number2.nil? %>
      <h2 style="font-family: 'Josefin Sans', serif;">Phone number 2: <stuff><%= @parent.phone_number2 %></stuff></h2>
    <% end %>
    <h2 style="font-family: 'Josefin Sans', serif;">Email: <stuff><%= @parent.email %></stuff></h2>
    <br>
    <%= button_to "Edit Info", edit_parent_path(@parent.id), params: {:child_id => @child.id}, :method => :get, class:"btn btn-info left-side" %>
  </div>
</div>
<%= link_to "Add Photo", edit_my_child_path(@child.id, :parent_id => @parent.id) %>
