<h1> attendees </h1>
<h2> <%= @user.name %> </h2>
<h2><%= @user.room.name %> Class </h2>
<br>
<div class="row">
  <% @children.each do |child| %>
    <div class="col-md-4">
        <div class="child-details"><%= link_to child.name, child_path(child.id) %></div>
        <br>
        <% if child.attend %>
          <%= image_tag child.avatar.url(:square) , :class => "child-image attend" %>
        <% else %>
          <%= image_tag child.avatar.url(:square) , :class => "child-image not-attend" %>
        <% end %>
        <% if !child.attend %>
          <%= button_to "Attend", attend_path(child.id) %>
        <% else %>
          <%= button_to "Not Attend", attend_path(child.id) %>
        <% end %>
        <br>
        <br>
      </div>
  <% end %>
</div>
<%= link_to "See class", room_path(@user.room) %>
<%= button_to "Send SMS", send_text_message_path, params: { user_id: @user.id } %>
<%= button_to "Send emails to parents" ,send_emails_path, params: { user_id: @user.id }  %>
