<div class="header-att"> Attendance </div>
<br>
<br>
<br>
<div class="row">
  <% @children.each do |child| %>
    <div class="col-md-4">
        <div class= "child-name child-details"><%= link_to child.name, child_path(child.id) %></div>
        <br>
        <% if child.attend %>
          <%= image_tag child.avatar.url(:square) , :class => "child-image attend" %>
        <% else %>
          <%= image_tag child.avatar.url(:square) , :class => "child-image not-attend" %>
        <% end %>
        <br>
        <br>
      </div>
  <% end %>
</div>
<%= link_to "See class", room_path(@user.room) %>
<%= button_to "Send SMS", send_text_message_path, params: { user_id: @user.id } %>
<%= button_to "Send emails to parents" ,send_emails_path, params: { user_id: @user.id }  %>
