<h2 class="header-att"><%= @user.room.name %> Class </h2>
<div class="row">
  <% @children.each do |child| %>
    <div class="col-md-4">
      <div class= "child-name child-details"><%= link_to child.name, child_path(child.id) %></div>
      <% info = child.infos.last %>
      <br>
      <%= link_to image_tag(child.avatar.url(:square), :class => "child-border"), child_path(child.id) %>
      <br>
      <br>
    </div>
  <% end %>
</div>
  <%= link_to "See class", room_path(@user.room) %>
  <br>
  <%= link_to "attendees", attendees_path(@user.id) %>
  <%= button_to "Send SMS", send_text_message_path, params: { user_id: @user.id } %>
  <%= button_to "Send emails to parents" ,send_emails_path, params: { user_id: @user.id }  %>
