<% @infos.reverse.each do |info| %>
  <h2 style="font-family: 'Josefin Sans', serif;">Daily Information for: <%= info.created_at.strftime('%D') %></h2>

  <h3>Diapers</h3>
  <table class="table table-stripe">
    <thead>
      <th>Morning </th>
      <th>Noon </th>
      <th>afternoon </th>
    </thead>
    <tbody>
      <tr class="success">
        <td><%= info.diaper_m %></td>
        <td><%= info.diaper_n %></td>
        <td><%= info.diaper_a %></td>
      </tr>
    </tbody>
  </table>
  <h3>Meals</h3>
  <table class="table table-stripe">
    <thead>
      <th> Breakfast </th>
      <th> Lunch </th>
      <th> Afternoon Snack </th>
    </thead>
    <tbody>
      <tr class="warning">
        <td><%= info.breakfast %></td>
        <td><%= info.lunch %></td>
        <td><%= info.afternoon %></td>
      </tr>
    </tbody>
  </table>
  <h3>General Info</h3>
  <table class="table table-stripe">
    <thead>
      <th></th>
    </thead>
    <tbody>
      <tr class="info">
        <td><%= info.general %></td>
      </tr>
    </tbody>
  </table>
  <h3>Sleep time</h3>
  <table class="table table-stripe">
    <thead>
      <th></th>
    </thead>
    <tbody>
      <tr class="active">
        <td><%= info.sleep_time %></td>
      </tr>
    </tbody>
  </table>
  <h3>More Of</h3>
  <table class="table table-stripe">
    <thead>
      <th class= "text-center">Clothes</th>
      <th class= "text-center">Diapers</th>
      <th class= "text-center">Wipes</th>
    </thead>
    <tbody>
      <tr class="success">
        <% if info.more_clothes %>
          <td class= "text-center">✔️</td>
        <% else %>
          <td></td>
        <% end %>
        <% if info.more_daiper %>
          <td class= "text-center">✔️</td>
        <% else %>
          <td></td>
        <% end %>
        <% if info.more_wipes %>
          <td class= "text-center">✔️</td>
        <% else %>
          <td></td>
        <% end %>
      </tr>
    </tbody>
  </table>
  <% end %>
