<h1 style="font-family: 'Josefin Sans', serif;"> Hey <%= @parent.name %> </h1>
<br>
  <% if !@parent.more_then_one? %>
    <%= render "charges/form", :parent => @parent, :child => @children.last, :amount => @children.last.room.tuition %>
  <% else %>
    <% t_child = Child.highest_tuition(@children) %>
    <% high_tuistion = t_child.room.tuition %>
    <% @children.each do |child| %>
      <% if child == t_child %>
        <h1> Payment for <%= child.name %></h1>
          <% @child = t_child %>
          <% @amount = high_tuistion %>
          <% @discount = false %>
          <%= render "charges/form", :parent => @parent, :child => @child, :amount => @amount, :discount => @discount %>
      <% else %>
        <h1> Payment for <%= child.name %></h1>
        <% @amount = child.room.tuition * 90/100 %>
        <% @child = child %>
        <% @discount = true %>
        <%= render "charges/form", :parent => @parent, :child => @child, :amount => @amount, :discount => @discount %>
      <% end %>
    <% end %>
  <% end %>
