<h1 style="font-family: 'Josefin Sans', serif;"> Payment for <stuff-big> <%= @current_month +" " + @current_year%></stuff-big> </h1>
<br>
<table class="table table-hover">
  <thead>
    <th> Child Name </th>
    <th> Class </th>
    <th> Monthly Tution </th>
    <th> Discount </th>
    <th> Final Charge</th>
    <th>  </th>
  </thead>
  <% if !@parent.more_then_one? %>
    <% @child = @children.last %>
      <% @amount = @child.room.tuition %>
      <tbody>
        <tr>
          <td><%= @child.name %></td>
          <td><%= @child.room.name %></td>
          <td>$ <%= @amount/100 %></td>
          <td> none </td>
          <td><%= @amount/100 %></td>
          <% if !@child.paid? %>
            <td> <%= render "charges/form", :parent => @parent, :child => @child, :amount => @amount %></td>
          <% else %>
            <td> Paid</td>
          <% end %>
        </tr>
      </tbody>
  <% else %>
    <% t_child = Child.highest_tuition(@children) %>
    <% high_tuistion = t_child.room.tuition %>
    <tbody>
      <tr>
        <% @children.each do |child| %>
          <% if child == t_child %>
            <!-- <h2 style="font-family: 'Indie Flower', serif;"><%= child.name %>:</h2> -->
              <% @child = t_child %>
              <% @amount = high_tuistion %>
              <% @discount = false %>
          <% else %>
          <!-- <h2 style="font-family: 'Indie Flower', serif;"><%= child.name %>:</h2> -->
            <% @amount = child.room.tuition * 90/100 %>
            <% @child = child %>
            <% @discount = true %>
          <% end %>
          <td><%= @child.name %></td>
          <td><%= @child.room.name %></td>
          <td>$ <%= @child.room.tuition/100 %></td>
          <% if @discount %>
            <td> 10% </td>
          <% else %>
            <td> none </td>
          <% end %>
          <td>$<%= @amount/100 %></td>
          <% if !@child.paid? %>
            <td> <%= render "charges/form", :parent => @parent, :child => @children.last, :amount => @children.last.room.tuition %></td>
          <% else %>
            <td>Paid</td>
          <% end %>
      </tr>
    <% end %>
  <% end %>

<%= button_to "reset payment", reset_payment_path %>
