<footer>
  <nav>
    <ul>
      <p style="text-align:center">Webpage by <%= link_to "Tamar Hershi", "https://github.com/TamarHershi" %>Copyright &copy; <%= Time.now.year %></p>
      <!-- <li>Copyright &copy; <%= Time.now.year %> All rights reserved.</li> -->
    </ul>
  </nav>
</footer>

<!-- <footer>
  <div id="footer">
  Webpage by <%= link_to "Tammy Hershenbaum", "https://github.com/TamarHershi" %>  <br>
  Copyright &copy; <%= Time.now.year %> All rights reserved.
  </div>
</footer> -->
