<% if @current_user %>
<div id="navigation_container">
  <div class="l-triangle-top"></div>
  <div class="l-triangle-bottom"></div>
  <div class="rectangle">
    <% if @current_user.user_type == "t" %>
      <ul id="navigation">
        <li><%= link_to @current_user.name, root_path %></li>
        <li><%= link_to "My class", my_class_path(@current_user.id) %></li>
        <li><%= link_to "Attendance", attendees_path(@current_user.id) %></li>
        <li><%= link_to "Logout", logout_path, method: :delete %></li>
      </ul>
    <% elsif @current_user.user_type == "p" %>
      <ul id="navigation">
        <li><%= link_to @parent.name, parents_path %></li>
        <li><%= link_to "My children", my_children_path(@parent.id) %></li>
        <li><%= link_to "Pay Tuition", pay_tuition_path(@parent.id) %></li>
        <li><%= link_to "Logout", logout_path, method: :delete %></li>
      </ul>
    <% end %>
  </div>

  <div class="r-triangle-top"></div>
  <div class="r-triangle-bottom"></div>
</div>

<% end %>
