<!DOCTYPE html>
<html>
<head>
  <title>MyDaycare</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>




  <body>
    <div class="container">
      <div class="row">
        <div class="page-header">
          <h1> <%=link_to "My DayCare", root_path %> <small> Communication with Parents </small></h1>
        </div>
      </div>
      <% if !flash.empty? %>
        <div class="flash">
          <% flash.each do |key, value| %><%= value %>
          <% end %>
        </div>
      <% end %>
      <%= render 'navbar' %>
      <%= yield %>

  </body>
</div>
</html>
