<!DOCTYPE html>
<html>
<head>
  <title>MyDaycare</title>
  <!-- <= favicon_link_tag 'mzl.icoqmdxa.ico' %> -->
  <%= favicon_link_tag 'apple-ico.ico' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<% if @current_user %>
  <body>
    <div class="container">
      <div class="row">
        <div class="page-header">
          <% if @current_user.user_type == "t" %>
            <h1 style="font-family: 'Josefin Sans', serif;"> <%=link_to "My DayCare", root_path %> <small> Communication with Parents </small></h1>
          <% else %>
            <h1 style="font-family: 'Josefin Sans', serif;"> <%=link_to "My DayCare", parents_path %> <small> Communication with Parents </small></h1>
        </div>
          <% end %>
      </div>
      <% if !flash.empty? %>
        <div class="flash">
          <% flash.each do |key, value| %><%= value %>
          <% end %>
        </div>
      <% end %>
      <%= render 'navbar' %>
      <%= yield %>
      <footer>
      <%= render 'footer' %>
    </footer>

  </body>
<% else %>
  <body class="background-image">
    <div>
      <h1 style="font-family: 'Josefin Sans', serif;" class="session"> Welcome to My DayCare app" </h1>
      <%= link_to image_tag("White.png", :id => "google") , '/auth/google'%>
    </div>
  </body>
<% end %>
</div>
</html>
